.CheckoutSummary{
    text-align: center;
    width: 80%;
    margin:auto;
}

@media (min-width: 600px){
    .CheckoutSummary{
        width:500px;
    }
}

.Sauces{
    margin: 20px auto;
    width:80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border:1px solid #eee;
    padding:10px;
    box-sizing: border-box;
}
.Sauce{
    text-align: center;
    border:1px solid black;
    margin:3px;
    background-color: #8F5E1E;
    color:white;
    padding:10px;
    margin:10px;
}

.Sauce:hover {
    background-color: #99703F;
    color: white;
}


.Drinks{
    margin: 20px auto;
    width:80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border:1px solid #eee;
    padding:10px;
    box-sizing: border-box;
}
.Drink{
    text-align: center;
    border:1px solid black;
    margin:3px;
    background-color: #8F5E1E;
    color:white;
    padding:10px;
}

.Drink:hover {
    background-color: #99703F;
    color: white;
}
.Drink input{
    margin:10px;
}

.slidercontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    text-align: center;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

